*.bsp filter=lfs diff=lfs merge=lfs -text
*.bpc filter=lfs diff=lfs merge=lfs -text
*.egm.cof filter=lfs diff=lfs merge=lfs -text
*.tab filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
